html {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input,
select {
  border: none;
  cursor: pointer;
  outline: none;
}

.wrap {
  max-width: 40rem;
  margin: 0 auto;

}

.field {
  display: none;
}

.date-picker {
  max-width: 32rem;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 4.2rem;

  box-shadow: 0 0 2.5rem #00000020;
  background-color: #ffffff;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.2rem;
  }

  &__prev,
  &__next {
    position: relative;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
    }

    &:before {
      width: 1rem;
      height: 1rem;
      border-right: 0.2rem solid purple;
      border-bottom: 0.2rem solid purple;
    }

    &:after {
      width: 1.6rem;
      height: 0.2rem;

      background-color: purple;

      transform: translateY(-50%);
    }

    &:hover {
      background-color: #00000010;
    }
  }

  &__prev:before {
    transform: translateY(-50%) rotate(130deg);
    left: 32%;
  }

  &__prev:after {
    left: 32%;
  }

  &__next:before {
    transform: translateY(-50%) rotate(-45deg);
    right: 32%;
  }

  &__next:after {
    right: 32%;
  }

  &__body {
    margin-bottom: 0.5rem;
  }
}

.select-month,
.select-year {
  font-size: 1.9rem;
  line-height: 1.21;
  color: #000000;
  font-weight: 700;
  appearance: none;
}

.line-week {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;

    font-size: 1.2rem;
    line-height: 1;
    color: purple;
    font-weight: 700;
  }
}

.block-days {
  display: flex;
  flex-wrap: wrap;

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;

    font-size: 1.2rem;
    line-height: 1;
    color: #00000050;
    border-radius: 50%;

    transition: all 0.2s;

    &:hover {
      background-color: #00000010;
    }

    &--range {
      border-radius: 50%;

      background: linear-gradient(180deg, purple 0%, blue 100%);
    }

    &--today {
      border-radius: 50%;

      background: linear-gradient(180deg, green 0%, blue 100%);
    }
  }
}

.controls-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.8rem;
  padding-top: 0.9rem;

  &__btn {
    font-size: 1.2rem;
    line-height: 1.25;
    color: purple;
    text-transform: uppercase;
    font-weight: 700;

    background-color: transparent;
    cursor: pointer;
  }
}
